
tensorflow-gpu==1.14.0
keras==2.2.5
umap-learn
visdom
librosa==0.8.0
matplotlib>=3.3.0
scipy==1.5.3
tqdm
sounddevice
SoundFile
Unidecode
inflect
PyQt5
multiprocess
numba==0.51.2
webrtcvad
torch==1.4.0
flask
flask-restful
h5py==2.10.0
numpy==1.19.3